{
	"AppId": "com.sap.customsamvanti",
	"DestinationName": "DEST_SAM1911_PPROP",
	"OfflineEnabled": true,
	"ServiceUrl": "/destinations/mobileservices"
}